extends ../main.layout.pug

block variables
  - var title = 'Мои работы'

  - var headerClass = 'header header--hero'
  - var userTitleAbout = 'user__title--about'
  - var iconClass = 'header__pic header__pic--portfolio'
  - var iconName = 'portfolio_header'
 

    block scripts
    script(src='about.bundle.js')


block content
    block hero 
    include ../common/hero

     block triangles 
     include ../common/triangles

    section.works
        .title.works__title
            .works__title-text МОИ РАБОТЫ
            block header pic
            - var headerClass = 'header header--works'
            - var iconName = 'works_header'
            - var iconClass = 'header__pic header__pic--works'
            include ../common/header

        .works__desk
            .works__school 
                .school
                    .title.school__title САЙТ ШКОЛЫ ОНЛАЙН <br> ОБРАЗОВАНИЯ

                    .school__info HTML, CSS, JAVASCRIPT

                    .school__btn

                        a(href="https://loftschool.com/").btn.btn--school Посмотреть сайт
                            .school__pic 
                                +icon('link', 'school__pic-icon')

            .works__projects
                .projects
                    .projects__content
                        .projects__top
                             +image('work-1.png', 'work-1.png', 'projects__pic-img')
                        .projects__down
                            ul.projects__list
                                each project in ['work-1.png', 'work-2.png', 'work-3.png', 'work-4.png']
                                    li.projects__item
                                        .project__pic 
                                            +image(project, project, 'projects__pic-img') 

                            .projects__arrows
                                            
                                a(href="#").arrow.arrow_down
                                    +icon('arrow_down', 'arrow arrow_down-slider')
                                a(href="#").arrow.arrow_up
                                    +icon('arrow_down', 'arrow arrow_up-slider')

    section.recomendations
        block header pic
        - var headerClass = 'header--recomendations'
        - var iconName = 'about_header'
        - var iconClass = 'header__pic header__pic--recomendations'
        include ../common/header

        .title.recomendations__title
            h2.recomendations__title-text ЧТО ОБО МНЕ ГОВОРЯТ
            //- .recomendations__title-pic
            //-     +icon('about_header', 'recomenadions__pic-img')
    
        


        -
            var recomends = {
                    1: {
                        'photo':'kovalchuk.png',
                        'text':'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!',
                        'human': {
                                'name':'Ковальчук Дмитрий',
                                'position':'— основатель Loftschool'
                                }
                        },
                    2: {
                        'photo':'sabantcev.png',
                        'text':'Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
                        'human': {
                                'name':'Сабанцев Владимир',
                                'position':'— преподаватель Loftschool'
                                }
                        }
                }
    
        ul.recomendations__list 
            each commend in recomends
                li.recomendations__item
                    .recomendations__pic
                        +image(commend.photo, commend.photo, 'recomendations__pic-img')
                    .recomendations__review
                        .recomendations__review-text=commend.text
                        .recomendations__about
                            .recomendations__about-name=commend.human.name
                            .recomendations__about-position=commend.human.position

               
        .recomendations__feedback
            block feedback 
            include ../common/feedback

        .recomendations__arrow
             a(href="").recomendations__arrow-up.arrow_up
                +icon('arrow_down', 'arrow arrow_up')
        block footer
        include ../common/footer.pug
        
        //- block footerInfo 
        //- include ../common/footer-content
        //- .recomendations__footer
        //-     .footer__desk(class = $footerDeskBlog)
        //-         .footer__school
        //-             p.footer__school-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
        //-         .footer__menu
        //-             block navigation 
        //-             include ../common/navigation

        //-             block social
        //-             include ../common/socials
        //-         .footer__citation
        //-             p.footer__citation-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете. <br> — Martin Golding