form.feedback(action="#")
    .feedback__container
        .title.feedback-title СВЯЗАТЬСЯ СО МНОЙ

        .feedback__row
            input(type="text" placeholder="Имя" required).feedback__input-elem
            input(type="email" placeholder="Email" required).feedback__input-elem
            textarea.feedback__input-elem.feedback__input-elem-area(cols="20", rows="7", placeholder="Ваше сообщение" required)


    .feedback__buttons
        button(type="submit").btn.btn--feedback Отправить
        button(type="reset").btn.btn--feedback Очистить