section.hero
    block header pic
    include ../common/header
    .hero__socials
      include ../common/socials
    
    .hero__menu
      include ../common/hamburger

    .hero__content
      
      .content__desc
      
        block user
        include ../common/user


    .hero__arrow
      a(href="").hero__arrow-link
        +icon('arrow_down', 'arrow arrow_down')


    block triangles 
    include ../common/triangles