//- ul.experience
//-     each skill, name in {Frontend:['HTML5', 'CSS3', 'JavaScript'], Backend: ['PHP', 'mySQL', 'Node js & npm', 'Mongo.db'],WorkFlow:['Git', 'Gulp', 'Bower']}
//-         li.experience__item
//-             p.title.experience__title= name
//-                 ul.circles
//-                     - for(var i = 0; i < skill.length; i++)
//-                         li.circles__item
//-                             .circles__pic
//-                                 svg(viewBox='0 0 120 120' width="110" height="110").circles__svg
//-                                     circle(cx="60" cy="60" r="50" fill="transparent" stroke-width="20" stroke="#dfdcd5").circles__under
//-                                     circle(cx="60" cy="60" r="50" fill="transparent" stroke-width="20" stroke="#74a163" stroke-dasharray="314" stroke-dashoffset="157").circles__above
//-                                 .circles__text= skill[i]

script(type="text/x-template")#experience
    ul.experience#experience-component
        li.experience__item(v-for="experienceGroupObj in experience")
            p.title.experience__title {{experienceGroupObj.experienceGroup}}
            circles-list(:experienceGroupObj="experienceGroupObj")
            

script(type="text/x-template")#circles-list
    ul.circles
        li.circles__item(v-for="(circlePercentage, circleText) in experienceGroupObj.circles")
            circles(
                :circlePercentage="circlePercentage"
                :circleText="circleText"
            )

script(type="text/x-template")#circles
    .circles__pic
        svg(viewBox='0 0 120 120' width="110" height="110").circles__svg
            circle(cx="60" cy="60" r="50" fill="transparent" stroke-width="20" stroke="#dfdcd5").circles__under
            circle(cx="60" cy="60" r="50" fill="transparent" stroke-width="20" stroke="#74a163" ref="circle").circles__above
        .circles__text {{circleText}}
