script(type="text/x-template")#slider-container
  .slider(v-if="work")
    slider-info(
      :work="work"
    )
    slider-display(
      :work="work"
    )
    slider-buttons( 
      :work="work"
      :nextWork="nextWork"
      :prevWork="prevWork"
      @slide="changeWork"
      @btnSlide="btnSlide"
    )
script(type="text/x-template")#slider-info
  .slider__info
    .title.slider__title {{work.title}} 
    .slider__subtitle {{work.techs}}
    a(:href="work.link").slider__link Посмотреть сайт
      .slider__pic 
        +icon('link', 'slider__pic-icon')

script(type="text/x-template")#slider-display
  .slider__display
    .slider__display-pic
      img(:src="`https://webdev-api.loftschool.com/${work.photo}`", alt="work-pic" draggable="false").slider__display-pic-img

script(type="text/x-template")#slider-buttons
  .slider__buttons
    .slider__button(@click.prevent="slide('prev')" @click="btnSlide('prev')")
      transition-group(name="slide-down")
        .slider__button-img-wrap(:key="work.id")
          img(:src="`https://webdev-api.loftschool.com/${prevWork.photo}`", alt="").slider__button-pic
    .slider__button.slider__button--next(@click.prevent="slide('next')" @click="btnSlide('next')")
      transition-group(name="slide-up")
        .slider__button-img-wrap(:key="work.id")
          img(:src="`https://webdev-api.loftschool.com/${nextWork.photo}`", alt="").slider__button-pic
