.arrow {
    width: 26px;
    height: 17px;  
    fill: $white;
}
.arrow--slider {
    width: 45px;
    height: 25px;
    z-index: 2;
    fill: $dark-green;
    &--down {
        transform: rotate(180deg);
    }
}
