.articles {
    margin-bottom: 65px;
    margin-top: 25px;
    &__item {
        margin-bottom: 35px;
        display: flex;
        flex-direction: column;
    }
    &__item::after {
        content: "";
        display: block;
        width: 681px;
        height: 5px;
        background: $light-grey;
        align-self: center;
        margin-top: 35px;
    }
    &__item:last-child {
        margin-bottom: 0;
    }
    &__item:last-child::after {
        display: none;
    }
    &__title {
        margin-bottom: 30px;
        font-weight: 600;
    }
    &__date {
        color: $light-green;
        margin-bottom: 30px;
    }
    &__desk {
        color: black;
    }
}