.auth {
    position: absolute;
    top: 5%;
    right: 10%;
    @media (max-width:576px) {
        // left: 50%;
        // transform: translate(-50%, 5%);
        right: 50%;
        transform: translate(50%,-5%);
    }
}
