.btn {

    border: 2px solid white;
    color: white;
    padding: 15px 28px;
    border-radius: 25px;
    &--auth {
        transition: background .3s;
        display: block;
        @media (max-width: 576px) {
            padding: 8px 12px;
        }
    }
    &--auth:hover {
        background: $light-green;
        transition: background .3s;
    }
   &--school {
       background: $light-green;
       display: flex;
       flex-direction: row-reverse;
       justify-content: space-around;
       transition: background .3s;
   } 
   &--school:hover {
       background: $dark-green;
       transition: background .3s;
   }
   &--feedback {
    flex: 1;
    background: $light-green;
    border: none;
    transition: background .3s;
    border-radius: 0;
   }
   &--feedback:hover {
    background: $dark-green;
    transition: background .3s
   }
   &--feedback:focus {
    outline: none;
   }
}