.hamburger_menu,
.hamburger_menu:after,
.hamburger_menu:before {
    width: 44px;
	height: 5px;
}

.hamburger_menu {
	position: relative;
	transform: translateY(25px);
	background: $white;
	transition: all 0ms 300ms;
    border-radius: 5px;
  
  &.animate {
    background: rgba(255, 255, 255, 0); 
  }
}

.hamburger_menu:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 14px;
	background: $white;
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 5px;
}

.hamburger_menu:after {
	content: "";
	position: absolute;
	left: 0;
	top: 14px;
	background: $white;
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 5px;
}

.hamburger_menu.animate:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger_menu.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}