.projects {
    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__list {
        width: 710px;
        overflow: hidden;
        display: flex;
        background-color: rgba(25, 34, 6, 0.3);
    }
    &__pic-img {
        width: 300px;
    
    }
    &__item {
        margin-right: 55px;
    }
    &__item:last-child {
        margin-right: 0;
    }
}

